// Media Query
@mixin media($breakpoint) { 
    @if $breakpoint == sm  { 
        @media screen and (min-width: 600px) { @content };
    }
    @if $breakpoint == md {
        @media screen and (min-width: 860px) { @content };
    }
    @if $breakpoint == lg {
        @media screen and (min-width: 992px) { @content };
    }
    @if $breakpoint == xl {
        @media screen and (min-width: 1200px) { @content };
    }
}

//Convert Px To Rem Mixin
@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

// flex properties
@mixin flex($direction, $justify, $align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}