$bkg-violet: hsl(263, 55%, 52%);
$bkg-grayish-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$gray: hsl(0, 0%, 81%);
$lighter-gray: hsl(210, 46%, 95%);
$currentColor: $gray;
$primary-font: 'Barlow Semi Condensed', sans-serif;

$b-radius: .7rem;
